project/.env
project/Homestead.yaml
project/Homestead.json
project/.vagrant
project/.phpunit.result.cache
project/.scribe
project/resources/docs
project/public/docs
project/node_modules
project/vendor

#docker
docker/db/data
docker/db/sql
docker/test_db/data
docker/test_db/sql
