/*body {
  margin: 0;
  text-align:center;
  background: #f5f5f5;
}*/

/* スマホのダブルタップを無効 */
html {
  touch-action: manipulation;
}

a {
  color: #87cefa;
}

img,
iframe,
video {
  max-width: 100%;
  vertical-align: bottom;
}

#linkYouLocal,
#linkYouYou,
#linkLocalLocal {
  background-color: #ffeecc;
}

.button-style {
  /*    padding-left: 6px!important;
    padding-right: 6px!important;
    margin: 1px;*/
  padding-left: 1.5px !important;
  padding-right: 1.5px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  font-size: 17px !important;
  transform: scale(0.9);
}

.button-wide{
  width: 74px;
}

/*#multiPlay, #multiPause, #multiSlow, #multiFast, #multiMuteRe{
  background-color:#e0ffff;
  font-weight:bold;
}*/

#header {
  width: 100%; /*横幅いっぱいに設定*/
  padding-top: 7px; /*タイトル上部にスペースをつくる*/
  padding-bottom: 7px; /*タイトル下部にスペースをつくる*/
  margin: 0px; /*ヘッダーまわりの余白を消す*/
  background: #000000; /*ヘッダーの背景色*/
  font-weight: bold;
}
#header h1 {
  margin: 0;
  color: #ffffff;
  font-size: 24px;
}
#header p {
  margin: 0;
  color: #ffffff;
  font-size: 10px;
}

#footer {
  width: 100%; /*横幅いっぱいに設定*/
  padding-top: 7px; /*タイトル上部にスペースをつくる*/
  padding-bottom: 7px; /*タイトル下部にスペースをつくる*/
  margin: 0px; /*ヘッダーまわりの余白を消す*/
  background: #000000; /*ヘッダーの背景色*/
}

#footer p {
  margin: 0;
  color: #ffffff;
  font-size: 10px;
}

#container {
  margin: 4px;
  text-align: left;
}

#youtubeBoard {
  border: 1px solid #444444;
}

#youtubeBoard2 {
  border: 1px solid #444444;
}

#videoLocalBord1 {
  border: 1px solid #444444;
}

#videoLocalBord2 {
  border: 1px solid #444444;
}

#container #memoPanel {
  text-align: left;
  position: relative;
  margin-top: 16px;
  margin-bottom: 2px;
  padding-top: 16px;
  padding-bottom: 3px;
  border: 1px solid black;
}

#memoPanel #captionMemo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
  margin: 0;
  background: #f5f5f5;
  transform: translateY(-50%) translateX(1em);
}

#container #buttonMulti {
  text-align: left;
  position: relative;
  margin-top: 16px;
  margin-bottom: 2px;
  padding-top: 16px;
  padding-bottom: 3px;
  border: 1px solid black;
}

#buttonMulti #captionMulti {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
  margin: 0;
  background: #f5f5f5;
  transform: translateY(-50%) translateX(1em);
}

#container #otherLink {
  position: relative;
  margin-top: 16px;
  padding-top: 16px;
  padding-bottom: 3px;
  border: 1px solid black;
}

#otherLink #captionLink {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
  margin: 0;
  background: #f5f5f5;
  transform: translateY(-50%) translateX(1em);
}

#linkYouLocal,
#linkYouYou,
#linkLocalLocal {
  background-color: #ffeecc;
  font-size: 16px !important;
}

/* スライダー */
input[type="range"].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 13px 0;
  padding: 0 15px;
}
input[type="range"].slider:focus {
  outline: none;
}
input[type="range"].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 6.7px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #c0c0c0;
  border-radius: 2.1px;
  border: 0px solid #010101;
}
input[type="range"].slider::-webkit-slider-thumb {
  box-shadow: 1.7px 1.7px 1.6px #730000, 0px 0px 1.7px #8d0000;
  border: 0px solid #ff0000;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #f6993f;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type="range"].slider:focus::-webkit-slider-runnable-track {
  background: #c0c0c0;
}
