@import 'bootstrap.scss';
@import 'vueformslider.scss';

/* vue-routerでページが切り替わった時のアニメーション*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.9s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

body {
  background: #000000;
}

body::-webkit-scrollbar {
  display: none;
}
